<fieldset [formGroup]="dateRange">
  <mat-form-field>
    <input formControlName="startDate" matInput placeholder="Choose a start date" />
    <mat-icon matSuffix (click)="openRangePicker()">calendar_today</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="endDate" matInput placeholder="Choose a end date" />
    <mat-icon matSuffix (click)="openRangePicker()">calendar_today</mat-icon>
  </mat-form-field>
  <div class="custom-calander" *ngIf="open">
    <mat-calendar cdkTrapFocus 
      #startDate
      [startAt]="startAt"
      [selected]="dateRange.get('startDate')?.value"
      (selectedChange)="selectStartDate($event)">
    </mat-calendar>
    <mat-calendar cdkTrapFocus
      #endDate
      [startAt]="endAt"
      [minDate]="endAt"
      [selected]="dateRange.get('endDate')?.value"
      (selectedChange)="selectEndDate($event)"
      (_userSelection)="close()">
    </mat-calendar>
  </div>
</fieldset>