<fieldset [formGroup]="dateRange">
  <mat-form-field>
    <input formControlName="startDate" matInput placeholder="Choose a start date" />
  </mat-form-field>
  <mat-form-field>
    <input formControlName="endDate" matInput placeholder="Choose a end date" />
  </mat-form-field>
  <div class="custom-calander">
    <mat-calendar cdkTrapFocus 
      [startAt]="startAt"
      (selectedChange)="select($event)"
      (_userSelection)="close()">
    </mat-calendar>
    <mat-calendar cdkTrapFocus
      (selectedChange)="select($event)"
      (_userSelection)="close()" 
      [startAt]="endAt">
    </mat-calendar>
  </div>
</fieldset>